<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ page.title }}</title>
<meta name="author" content="IZRK" /> 

<!-- Homepage CSS -->
<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

</head>
<body>
<div class="site">
  <div class="zastave">
  </div>

  <div class="header">
    <a href="http://odmev.zrc-sazu.si/zrc/" target="_blank"><img src="../slike/ZRC SAZU.jpg" height="51px"/></a>
    <a href="http://www.uis-speleo.org/" target="_blank"><img src="../slike/UIS.jpg" height="51px"/></a>
    <a href="http://www.jamarska-zveza.si" target="_blank"><img src="../slike/JZS.jpg" height="51px"/></a>
    <a href="http://kras.zrc-sazu.si/" target="_blank"><img src="../slike/IZRK.jpg" height="51px"/></a>
  </div>

  <div class="title">
      <a href="/"><h1>7<sup>th</sup> International Workshop on Ice Caves</h1></a>
  </div>

    <div class="column" >
      <ul class="column-frame">
	<li><a href="/">Main page</a></li>
	<hr />
	<li><a href="/registration.html">Registration</a></li>
      </ul>
      <a href="http://kras.zrc-sazu.si/en" target="_blank"><img src="../slike/IWIC-VII-logo.jpg" width="150px" id="proteus" /></a>
    </div>

    <div class="content-nc">
      {{ content }}
    </div>

    <div class="footer">
      <p>
        ZRC SAZU &copy; 2015 -
        <a href="http://izrk.zrc-sazu.si">Karst Research Institute ZRC SAZU</a>
      </p>
    </div>

  </div>

  </body>
  </html>
